

#abt{
    background-image: url("home.jpeg");
    background-repeat: no-repeat;
    height: 106%;
    
    max-width:100%;
    background-size:cover;
    background-position: center center;
}
#tm{
    background-image:url("home.jpeg");

    background-repeat: no-repeat;
    height:102%;
    
    background-size: cover;

}

#intro{ 
   
    background-repeat: no-repeat;
    height:103%;
    
   
    background-image: url("4.jpg");
    background-size: cover;
    background-position: center center;
}
#intro1{ 
    
    font-size:xx-large;
    
    font-family:'Times new roman', Courier, monospace;
  
}
input{
    border-radius:50px;
    width:400px;
    height:50px;
    background-color:lightgray
}
#b{
    font-family: fantasy;
    font-size: medium;
    background-color:lightskyblue;
    color: black;
    width: 300px;
    border-radius: 50px;
    height: 50px;
}
#b:hover{
    transform:scale(1.2);
    background-color: lightgreen;
}
#f{
    font-family:fantasy;
    text-shadow:8px 8px black;
    color:whitesmoke;
    font-size:xx-large;
}
#f1{
    font-family:'Franklin Gothic Medium';
   
    
    font-size:xx-large;
}
#s{
    font-family: fantasy;
    font-size: medium;
    background-color:lightskyblue;
}
#s:hover{
    background-color:lightgreen;
    transform:scale(1.2);
}
.image-card {
    border-radius: 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 7px;
    text-align: center;
    width: calc(100% - 10px);
  }
  .image-card img:hover {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 3px;
    height: 200px;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
   
  }
#dt{
    font-style: italic;
    font-family: sans-serif;
}
body{
    background-color:whitesmoke;
}
#ddn{
    position:fixed;
}
ul{
    margin:0;
    list-style:none;
    padding:0;
}
li{
    height:40px;
    width: 303px;
    background-color:grey;
    float:left;
    text-align: center;
    font-size:20px;
    font-family:serif;
    box-shadow: 30px 20px 10px 0px black;
}
ul li:hover{
    opacity:0.8;
}
ul li a{
    text-decoration:none;
    color:black;
    display:block;
    padding-top:5px;
}
ul li:hover{
    background-color:burlywood;
}
ul li a{
    color:darkblue;
}
ul li ul li{
    display:none;
}
ul li:hover ul li{
    display:block;
    border-radius:5px;
}
h1{
    padding-top:200px;
}