<html>
    <head>
        <title>HOME</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    <body>
        <div>
            <nav>
            <div id="ddn" style="margin-left:130px">
                <ul>
                    <li><a href="#tm"><b>Team</b></a>
                    </li>
                    <li><b><a href="#abt">Abstract</a></b>
                    <li><b><a href="{{url_for("login")}}">Login</a></b>
                    <li><b><a href="{{url_for("register")}}">Register</a></b></li>
                </ul>
            </div>
        </nav>
            <div id="intro" >
                <br><br><br><br><br>
                <center>
                <h2 id="intro1" style="color:black;background-color:lightslategray; border-radius:20px;opacity:0.9 ;width:200px">BATCH-16</h2>
                <h2 id="intro1" style="color:black;background-color:lightslategray;border-radius:20px;opacity:0.9">IDENTIFICATION AND CLASSIFICATION OF MARINE MAMMAL SOUNDS USING DEEP LEARNING.</h2>
            </center>
            </div>
            <div id="tm">
                <br><br><br><br><br><br><br><br>
                <div style="height:800px;width:1300px;margin-left:120px;">
                    <div id="wd" style="height:200px;width:50%;float:left;">
                        <div style="height:100%;width:30%;float:left;">
                            <center>
                                <div class="image-card">
                            <img src="{{url_for('static',filename='vk.jpeg')}}" height="99%" width="94%" style='border-radius:3px'>
                                </div>
                        </center>
                        </div>
                        <div id="cd" style="height:99%;width:70%;float:right;color:white">
                            <center>
                            <h2 id="dt">Name    : P.VIJAYA KUMARI<br><br>Roll no : 20MH5A0508<br><br>studies : B.Tech IV CSE</h2>
                        </center>
                        </div>
                    </div>
                    <div id="wd" style="height:200px;width:50%;float:right;">
                        <div id="imd" style="height:100%;width:30%;float:left;">
                            <center>
                                <div class="image-card">
                        <img src="{{url_for('static',filename='phani.jpeg')}}"  height="99%" width="94%" style='border-radius:3px' >
                                </div>
                    </center>
                        </div>
                        <div id="cd" style="height:99%;width:70%;float:right;color:white">
                            <center>
                            <h2 id="dt">Name    : K. PHANINDRA<br><br>Roll no : 19MH1A0523<br><br>studies : B.Tech IV CSE</h2>
                        </center>
                        </div>
                    </div>
                    
                    <div id="wd" style="height:200px;width:50%;float:left">
                        <div id="imd" style="height:100%;width:30%;float:left">
                            <center>
                                <div class="image-card">
                                    <img src="{{url_for('static',filename='aditya.jpeg')}}"  height="99%" width="94%" style="border-radius:3px;margin-top:2">
                                </div>
                        </center>
                        </div>
                        <div id="cd" style="height:99%;width:70%;float:right;color:white">
                            <center>
                            <h2 id="dt">Name    : M. Pavan Aditya<br><br>Roll no : 19MH1A0532<br><br>studies : B.Tech IV CSE</h2>
                        </center>
                        </div>
                    </div>
                    <div id="wd" style="height:200px;width:50%;float:left;">
                        <div id="imd" style="height:100%;width:30%;float:left;">
                            <div class="image-card">
                            <img src="{{url_for('static',filename='geetha.jpeg')}}" height="99%" width="94%" style="margin-left:10; border-radius:3px;margin-top:2" >
                            </div>
                        </div>
                        <div id="cd" style="height:99%;width:70%;float:right;color:white">
                        <center>
                            <h2 id="dt">Name    : V.G. KAVYA SRI<br><br>Roll no : 19MH1A0558<br><br>studies : B.Tech IV CSE</h2>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
            <div id="abt" >
                <div id="abtcont" >
                    <br><br><br><br><br><br>
                    <h3 id="f"><center><b>Abstract</b></center></h3>
                    <h2 style="text-align: justify; margin-left:150px;margin-right:115px;margin-top:50px; color:white">We know that different sounds and sound patterns are present in the environment. 
                        Such kind of sounds and their patterns can be used to give solutions to many problems that are being existed in the world.
                        We can recognize sounds in the ocean and they can be extracted using different sound detection and classification techniques. 
                        By using these techniques, the lifestyle of marine life is being observed and protected by some NGOs that belong to the National Board Of Wildlife.
                        One such type of solution is our project, which helps marine animals to have a good and healthy life cycle. The old sound detection and classification techniques cause many dangers to marine life which is a drawback.
                        <br><br>
                        Keywords: CNN( Convolutional neural networks) algorithm, NOAA(National Oceanic and Atmospheric Administration), Artificial Neural networks, Hydrophones, audio classification.
                    </h2>
            
                </div>
            </div>
        </div>
    </body>
</html>