<!DOCTYPE html>
<head>
    <title>Marine Mammals Bio Acoustics </title>
    <link rel="stylesheet" href="{{url_for('static',filename='opss.css')}}">
</head>
<body>
    <header ><h1>{{whale}}</h1></header>
    <div class="content">
        <div id="image-container"> <img src="{{url_for('static',filename='images/' +whale+ '.jpg')}}" alt="{{whale}}"></div>

        <div id="text-container" ><h3>INTRODUCTION</h3>{{introduction}}
            {% for section in sections %}
            <div class="section-text">
              <h2>{{ section.heading }}</h2>
                <p>{{ section.text }}</p>
              </div>
            {% endfor %}</div>
            <div class="sidebar">
                <h3>Specifications</h3>
            <img src="{{ url_for('static', filename='spec.png') }}">
        </div>
    </div>
    <footer >    <p>&copy; 2023 Marine Mammals Bio Acoustics. All rights reserved.</p></footer>
</body>
</html>